@model TableDetailsModel

@{
    ViewBag.Title = "Table Details";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr/>

<div class="container" style="display:inline">
    <div class="row">
        <div class="col-4">
            <img class="card-img-top" style="width: 20rem;"
                 src="@Model.ImageUrl" alt="House Image">
        </div>
        <div class="card col-8 border-0">
            <p style="font-size:25px;"><u>@Model.Type</u></p>
            <p>Material: <b>@Model.Material</b></p>
            <p>
                Size:
            <p><b>Length:@Model.Length m</b></p>
                <b>Width:@Model.Width m</b>
            </p>
            <p>
                Price:
                <b>@String.Format("{0:f2}", Model.Price) BGN</b>
            </p>
            <p>@Model.Description</p>
            <p>Available: @Model.Quantity</p>
            <div class="form-inline">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-warning" asp-controller="Table" asp-action="Edit"
                       asp-route-id="@Model.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="Table" asp-action="Delete"
                       asp-route-id="@Model.Id">Delete</a>
                }
                <form asp-action="Delete" asp-controller="Table" asp-route-id="@Model.Id">
                    <button type="submit" class="btn btn-primary">Buy</button>
                </form>
            </div>
        </div>
    </div>
</div>